@font-face { 
  font-family: 'PublicSans';
  src: url('../Public_Sans/static/PublicSans-Regular.ttf');
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Menu */
header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}
.topo{
  background-color: hsl(0, 0%, 100%);
  width: 1100px;
  display: flex;
  align-items: center;
}
.topo-left{
  display: flex;
  width: 35%;
  justify-content: flex-start;
}
.topo-right{
display: flex;
width: 55%;
justify-content: flex-start;
}
.menu ul{
  display: flex;
}
.menu li{
  display: inline;
  list-style-type: none;
  margin-left: 20px;
  font-family: 'PublicSans';
  font-size: 1rem;
  color: hsl(233, 8%, 62%);
}
.linkRequestInvite{
  text-decoration: none;
}
.btnRequestInvite:hover{
  opacity: 0.5;
}
.btnRequestInvite{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background-image: linear-gradient(to right, hsl(136, 65%, 51%) , hsl(192, 70%, 51%));
  border: none;
  font-family: 'PublicSans';
  font-size: 18px;
  color: hsl(0, 0%, 98%);
}
.btnMenu, .active{
  color: hsl(233, 8%, 62%);
  border: none;
  padding-bottom: 26.5px;
  text-decoration: none; 
}
.active, .btnMenu:hover{
  border-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-image-slice: 1;
  border-bottom: 4px solid;
  color: hsl(233, 26%, 24%)
}

/* Fim Menu*/

/* Introdução */
.container{
  display: flex;
  justify-content: center;
  background-image: url("../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: 440% 52%;
  background-size: 90%;
  height: 500px;
  background-color: hsl(0, 0%, 98%);
}
.container2{
  width: 100%;
  background-image: url("../images/image-mockups.png");
  background-repeat: no-repeat;
  background-position: 117% 40%;
  background-size: 50%;
  height: 500px;
  background-color: transparent;
  position: relative;
  
}
.contentPrincipal{
  width: 40%;
  height: 100%;

}
.contentLeft{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 60px;
}
.contentRight{
  width: 50%;
  height: 100%;
}
.titlePrincipal{
  font-family: 'PublicSans';
  font-size: 50px;
}
.contentLeft p{
  font-family: 'PublicSans';
  color: hsl(233, 8%, 62%);
}

/* Fim Introdução*/

/* Services */

.containerServices{
  height: 550px;
  width: 100%;
  display: flex;
  background-color: hsl(220, 16%, 96%);
  justify-content: center;
}
.services{
  width: 1100px;
  display: flex;
  flex-direction: column;
}
.description{
  font-family: 'PublicSans';
  font-size: 15px;
  color: hsl(233, 8%, 62%);
}
.subtitle{
  font-family: 'PublicSans';
  font-size: 35px;
  color: hsl(233, 26%, 24%);
  margin-top: 100px;
}
.cards{
  display: flex;
  margin-right: 20px;
}
.titleCard{
  font-family: 'PublicSans';
  font-size: 25px;
  color: hsl(233, 26%, 24%);
  margin-top: 10px;
}
.contentCard{
  font-family: 'PublicSans';
  font-size: 15px;
  color: hsl(233, 8%, 62%);
  text-align: left;
  margin-top: 20px;
}
.contentServicesDown{
  margin-top: 40px;
}

/*Fim Services */

/* Articles */

.contentArticle{
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}
.articles{
  width: 1100px;
  display: flex;
  flex-direction: column;
}
.titleArticle{
  font-family: 'PublicSans';
  font-size: 15px;
  color: hsl(233, 26%, 24%);
}
.cardsArticle{
  display: flex;
  justify-content: space-between;
}
.modelCardArticle{
background-color: hsl(0, 0%, 100%);
width: 250px;
border-radius: 10px;
}
.imageCardArticle img{
  width: 250px;
  height: auto;
}
.autorArticle{
  font-family: 'PublicSans';
  font-size: 10px;
  color: hsl(233, 8%, 62%);
}
.titleCardArticle{
  font-family: 'PublicSans';
  font-size: 15px;
  color: hsl(233, 26%, 24%);
  margin-top: 15px;
}
.titleCardArticle a{
  text-decoration: none;
  color: hsl(233, 26%, 24%);
}
.titleCardArticle a:hover{
  color: hsl(136, 65%, 51%);
}
.areaArticle{
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 20px;
}
.contentCardArticle{
  font-family: 'PublicSans';
  font-size: 13px;
  color: hsl(233, 8%, 62%);
  margin-top: 10px;
}
/* Fim Articles */

/* Footer */

.containerFooter{
  background-color: hsl(233, 26%, 24%);
  display: flex;
  justify-content: center;
  height: 200px;
}
.footer{
  width: 1100px;
  display: flex;
  justify-content: center;
}
.footerLeft{
  width: 20%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comunication{
  display: flex;
}
.imgComunication:hover{
  fill: hsl(136, 65%, 51%);
}
.logoFooter{
  margin-bottom: 50px;
}
.comunication div{
  margin-right: 15px;
}
.footerCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.footerCenterLeft{
  width: 50%;
}
.footerCenterLeft div, .footerCenterRight div{
  padding: 10px 0px 10px 0px;
}
.footerCenterLeft div a, .footerCenterRight div a{
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  font-family: 'PublicSans';
  font-size: 13px;
}
.footerCenterLeft div a:hover, .footerCenterRight div a:hover{
  color: hsl(136, 65%, 51%);
}
.footerRight{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerRight a{
  padding: 0px 0px 30px 0px;
}
.footerRight p{
  color: hsl(0, 0%, 98%);
  font-family: 'PublicSans';
  font-size: 13px;
}
/* Fim footer*/